html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    border: 0;
    background-color: var(--black1);
    overflow: hidden;
}

:root {
    --black1: #141414;
}

.container {
    width: 100vw;
    height: 100vh;
    transition: background-color 1s;
}

.circle {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    transition: all 5s;
}

.test {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.hide {
    display: none;
}

@media (max-width: 800px) {
    .circle {
        transition: all 2s;
    }
    .test {
        background-color: #000;
    }
}