html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    border: 0;
    background-color: var(--black1);
    overflow: hidden;
}

:root {
    --black1: #141414;
}

.container {
    width: 100vw;
    height: 100vh;
}

.circle {
    position: fixed;
    border-radius: 50%;
    transition-property: width, height, opacity;
    transition-duration: 3s;
    transform: translateX(-50%) translateY(-50%);
}